/* 🛑 STOP!
  Do not change this file directly.
  Modify colors in src/_data/color-tokens.js
 */

$color-primary: #0f7870 !default;
$color-on-primary: #DCF0EF !default;
$color-secondary: #e1d3b9 !default;
$color-on-secondary: #665B47 !default;

$base-color-tokens: ("primary", "secondary");

$color-tokens: (
  "color-primary": $color-primary,
  "color-on-primary": $color-on-primary,
  "color-secondary": $color-secondary,
  "color-on-secondary": $color-on-secondary
) !default;

@mixin color-tokens() {
  --color-primary: #{$color-primary};
  --color-on-primary: #{$color-on-primary};
  --color-secondary: #{$color-secondary};
  --color-on-secondary: #{$color-on-secondary};
}