---
layout: layouts/base.njk
templateEngineOverride: njk
---
<main class="container flow" tabindex="-1" role="main" id="main-content">
    {{ content | safe }}

    {% if collections.slutuppgifter %}
        {% set navPages = collections.slutuppgifter | fixTestsPages(navPages) %}
    {% else %}
        {% set navPages = [] %}
    {% endif %}

    {% include "partials/categorylist.njk" %}
</main>