---
layout: layouts/base.njk
templateEngineOverride: njk
---

{{ content | safe }}

{% if collections.slutuppgifter %}
    {% set navPages = collections.slutuppgifter | fixTestsPages(navPages) %}
{%endif %}
{% include "components/categorylist.njk" %}